body {
  width: 1024px;
  margin: 0 auto;
}

header {
  top: 0;

  width: 1024px;
  height: 130px;
  padding: 15px 0 0 30px;
  position: fixed;

  background-color: #959a8f;

  overflow: hidden;
}

header h1 {
  margin-bottom: 0px;
  margin-top: 10px;
  text-transform: uppercase;
  color: white;
  font-weight: lighter;
  letter-spacing: 0.15em;
}

header h2 {
  margin: 5px;

  color: white;
  font-weight: lighter;
  font-style: italic;
}

nav ul {
  width: 630px;
  float: right;
  display: block;
  margin: 0 20px 20px 0;
}

nav li {
  padding: 0 10px;
  float: left;
  font-size: 1em;
  list-style: none;
}

nav a {
  color: #cad9d9;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
}

nav a:hover {
  color: #1e1911;
  transition: color 0.3s;
}

main {
  padding-top: 130px;
}

h3 {
  margin: 15px;

  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 1.7em;
  letter-spacing: 0.2em;
  color: #bf593d;
  font-weight: bold;
}

.photo {
  display: inline;
  float: left;
  margin-right: 50px;
}

section {
  padding-top: 145px;
  margin-top: -110px;
}

section#summary {
  padding-top: 160px;
}


.content p {
  padding-top: 5px;

  font-size: 1.1em;
  text-align: justify;
  text-indent: 20px;
  font-family: sans-serif;
  letter-spacing: 0.1em;
}
